<h1>Sign In</h1>

<%= form_tag "/users/signin" do %>
<div>
<%= label_tag "Project" %><br>
https:// <%= text_field_tag "project_url" %> .basecamphq.com
</div>
<div>
<%= label_tag "Username" %><br>
<%= text_field_tag "username" %>
</div>
<div>
<%= label_tag "Password" %><br>
<%= text_field_tag "password" %>
</div>
  <%= submit_tag "Signin" %>
<% end %>