


    <div id="board">
        <div class="swimlane">
        <div class="title">To Do</div>
        <ul id="sortable1" class="cardarea">
         <% @todo.each do |todo| %>
         <li id="<%= todo.id %>" class="ui-state-default" >
                <%= "#{todo.list_name} : #{todo.display_title}" %>
        </li>
		<% end %>
        </ul>
        </div>
        <div class="swimlane"><div class="title">Done</div>
	   <ul id="sortable2" class="cardarea">
	     <% @in_progress.each do |todo| %>
         <li id="<%= todo.id %>"  class="ui-state-default">
                <%= "#{todo.list_name} : #{todo.display_title}" %>
        </li>
		<% end %>
	   </ul>
    </div>
    <div class="swimlane"><div class="title">In Progress</div>
	<ul id="sortable3" class="cardarea">
	    <% @done.each do |todo| %>
         <li id="<%= todo.id %>"  class="ui-state-default">
                <%= "#{todo.list_name} : #{todo.display_title}" %>
        </li>
		<% end %>
	</ul>
    </div>
    </div>



    <script>
    $(function() {
        $( ".cardarea" ).sortable({
            connectWith: ".cardarea"
        }).disableSelection();
    });
    </script>




