

    <div id="board">
        <div id="todo" class="status-column">
         <div class="title">To Do</div>
         <% @todo.each do |todo| %>
         <div id="<%= todo.id %>" draggable="true" class="can-be-dragged">
            <div class="cardTitle">
                <%= "#{todo.list_name} : #{todo.display_title}" %>
            </div>
        </div>
		<% end %>
    </div>
	<div id="inprogress" class="status-column">
	<div class="title">In Progress</div>
	     <% @in_progress.each do |todo| %>
         <div id="<%= todo.id %>" draggable="true" class="can-be-dragged">
            <div class="cardTitle">
                <%= "#{todo.list_name} : #{todo.display_title}" %>
            </div>
        </div>
		<% end %>
	</div>

	<div id="done" class="status-column">
	<div class="title">Done</div>
	    <% @done.each do |todo| %>
         <div id="<%= todo.id %>" draggable="true" class="can-be-dragged">
            <div class="cardTitle">
                <%= "#{todo.list_name} : #{todo.display_title}" %>
            </div>
        </div>
		<% end %>
	</div>





 <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.5/jquery-ui.js"></script>

        </script>

<script type="text/javascript">
$('document').ready(init);

        function init(){
            $('.can-be-dragged').draggable({ revert: "invalid" });
            
			$('.status-column').droppable({
						hoverClass: "ui-state-active",
						drop: function( event, ui ) {
							ui.draggable.appendTo($(this))
							
						}
					});
// bind the drop event on the board sections
//   $('.status-column').bind('drop', function(event, ui) {
//            var notecard = event.originalEvent.dataTransfer.getData("text/plain");
//            event.target.appendChild(document.getElementById(notecard));
//            event.preventDefault(); // without this, FF will try and go to a URL with your id's name
//});
        }
</script>

